<section class="about section-offset">
  <div class="container">
    <h2 class="section-title about__title">О предприятии</h2>
    <div class="about__text grid">
      <p class="about__descr">
        За&nbsp;20&nbsp;лет развития в&nbsp;структуре завода сформирован мощный производственный
        потенциал, научно-технический центр, испытательная лаборатория, современная база, учебный
        центр и&nbsp;широкая сеть региональных и&nbsp;международных представительств
        в&nbsp;Российской Федерации, Республике Беларусь, Узбекистане и&nbsp;Казахстане.
      </p>
      <p class="about__descr">
        В&nbsp;номенклатуре выпускаемой НПП &laquo;ПИОНЕР&raquo; продукции найдется все, что
        необходимо для успешного решения задачи автоматизации технологических процессов
        на&nbsp;любом предприятии. Все средства измерения производства &laquo;ПИОНЕР&raquo; внесены
        в&nbsp;Государственный реестр&nbsp;СИ и&nbsp;имеют необходимые разрешительные документы.
      </p>
      <p class="about__descr">
        Ежегодно НПП &laquo;ПИОНЕР&raquo; реализует несколько проектов по&nbsp;модернизации серийных
        и&nbsp;разработке новых приборов, призванные в&nbsp;наибольшей степени удовлетворять
        возрастающие требования наших заказчиков.
      </p>
    </div>
    <div class="about__images grid">
      <img
        src="img/about-1.jpg"
        srcset="img/about-1_2x.jpg 2x"
        loading="lazy"
        alt="Сварщик"
        class="about__image"
        width="580"
        height="280"
      />
      <img
        src="img/about-2.jpg"
        srcset="img/about-2_2x.jpg 2x"
        loading="lazy"
        alt="Конвеер"
        class="about__image"
        width="580"
        height="280"
      />
    </div>
  </div>
</section>
