<section class="news section-offset">
  <div class="container">
    <div class="h2 section-title">Новости</div>
    <div class="news-wrapper">
      <button class="btn-reset news-btn news-btn--prev">
        <svg>
          <use xlink:href="img/sprite.svg#left"></use>
        </svg>
      </button>
      <button class="btn-reset news-btn news-btn--next">
        <svg>
          <use xlink:href="img/sprite.svg#right"></use>
        </svg>
      </button>
      <div class="news-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-1.jpg"
                srcset="img/news-1_2x.jpg 2x"
                alt="Новость 1"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области
                  консультирования и&nbsp;изготовления...
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-07-20">20.07.20</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-2.jpg"
                srcset="img/news-2_2x.jpg 2x"
                alt="Новость 2"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  Поздравляем коллектив регионального представительства &laquo;ПИОНЕР&raquo;
                  с&nbsp;праздником!
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-07-18">18.07.20</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-3.jpg"
                srcset="img/news-3_2x.jpg 2x"
                alt="Новость 3"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  Перенос сроков проведения запланированных работ в&nbsp;2020 году
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-06-20">20.06.20</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-1.jpg"
                srcset="img/news-1_2x.jpg 2x"
                alt="Новость 1"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области
                  консультирования и&nbsp;изготовления...
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-07-20">20.07.20</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-2.jpg"
                srcset="img/news-2_2x.jpg 2x"
                alt="Новость 2"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  Поздравляем коллектив регионального представительства &laquo;ПИОНЕР&raquo;
                  с&nbsp;праздником!
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-07-18">18.07.20</time>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="news-card">
              <img
                src="img/news-3.jpg"
                srcset="img/news-3_2x.jpg 2x"
                alt="Новость 3"
                class="news-card__image"
                loading="lazy"
                width="380"
                height="251"
              />
              <div class="news-card__inner">
                <h3 class="news-card__title">
                  Перенос сроков проведения запланированных работ в&nbsp;2020 году
                </h3>
                <div class="news-card__bottom">
                  <a href="#" class="news-card__link">Читать далее</a>
                  <time class="news-card__date" date-time="2020-06-20">20.06.20</time>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="list-reset news__list grid">
      <li class="news__item">
        <article class="news-card">
          <img
            src="img/news-1.jpg"
            srcset="img/news-1_2x.jpg 2x"
            alt="Новость 1"
            class="news-card__image"
            loading="lazy"
            width="380"
            height="251"
          />
          <div class="news-card__inner">
            <h3 class="news-card__title">
              НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области консультирования
              и&nbsp;изготовления...
            </h3>
            <div class="news-card__bottom">
              <a href="#" class="news-card__link">Читать далее</a>
              <time class="news-card__date" date-time="2020-07-20">20.07.20</time>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <img
            src="img/news-2.jpg"
            srcset="img/news-2_2x.jpg 2x"
            alt="Новость 2"
            class="news-card__image"
            loading="lazy"
            width="380"
            height="251"
          />
          <div class="news-card__inner">
            <h3 class="news-card__title">
              Поздравляем коллектив регионального представительства &laquo;ПИОНЕР&raquo;
              с&nbsp;праздником!
            </h3>
            <div class="news-card__bottom">
              <a href="#" class="news-card__link">Читать далее</a>
              <time class="news-card__date" date-time="2020-07-18">18.07.20</time>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <img
            src="img/news-3.jpg"
            srcset="img/news-3_2x.jpg 2x"
            alt="Новость 3"
            class="news-card__image"
            loading="lazy"
            width="380"
            height="251"
          />
          <div class="news-card__inner">
            <h3 class="news-card__title">
              Перенос сроков проведения запланированных работ в&nbsp;2020 году
            </h3>
            <div class="news-card__bottom">
              <a href="#" class="news-card__link">Читать далее</a>
              <time class="news-card__date" date-time="2020-06-20">20.06.20</time>
            </div>
          </div>
        </article>
      </li>
    </ul> -->
  </div>
</section>
